.App h1 {
  text-align: center;
  margin-top: 50px;
}

.App p {
  text-align: center;
}

.current-scroll {
  position: fixed;
  top: 5px;
  left: 5px;
  background-color: #F94445;
  color: #2C1817;
  padding: 5px;
  border: 2px solid #BB383B;
}
